meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1", media="(device-height: 568px)")

meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")

//- link(rel="apple-touch-startup-image", href="#{ imgPath('/img/mobile/screens/iphone-startup.png') }")
//- link(rel="apple-touch-startup-image", sizes="640x1096", href="#{ imgPath('/img/mobile/screens/iphone-5-startup.png') }")

//- link(rel="apple-touch-icon", href="#{ imgPath('/img/mobile/icons/iphone.png') }")
//- link(rel="apple-touch-icon", sizes="72x72", href="#{ imgPath('/img/mobile/icons/ipad.png') }")
//- link(rel="apple-touch-icon", sizes="114x114", href="#{ imgPath('/img/mobile/icons/iphone-retina.png') }")
//- link(rel="apple-touch-icon", sizes="144x144", href="#{ imgPath('/img/mobile/icons/ipad-retina.png') }")
